# 3. Machine Learning: Exemplo 1

# Vidros

Base de dados: https://www.kaggle.com/uciml/glass

## Descrição

Conjunto de dados de identificação de vidro da UCI (UC Irvine Machine Learning Repository - https://archive.ics.uci.edu/ml/index.php). 

Contém 10 atributos, incluindo id. 
A resposta é do tipo vidro (6 valores discretos)

### O conjunto de dados (características):

Número de identificação: 1 a 214 (removido do arquivo CSV)
RI: índice de refração
Na: sódio (unidade de medida: porcentagem em peso no óxido correspondente, assim como os atributos 4-10)
Mg: Magnésio
Al: Alumínio
Sim: silício
K: Potássio
Ca: Cálcio
Ba: Bário
Fe: Ferro
Tipo de vidro: (atributo de classe)
- 1 janela de edifício processado flutuante
- 2 janelas de edifício não flutuante processado
- 3 janelas de veículo flutuante processado
- 4 contêineres
- 5 talheres
- 6 faróis


### Referências

Fonte de dados original: https://archive.ics.uci.edu/ml/datasets/Glass+Identification

Criador:
B. German
Central Research Establishment
Home Office Forensic Science Service
Aldermaston, Reading, Berkshire RG7 4PN

Doador:
Vina Spiehler, Ph.D., DABFT
Diagnostic Products Corporation
(213) 776-0180 (ramal 3014)

In [17]:
#Carregando o conjunto de dados

import pandas as pd
arquivo = pd.read_excel('C:/Users/camil/OneDrive/Área de Trabalho/seminário Python/glass.xlsx')

In [18]:
arquivo.shape

(214, 10)

In [19]:
arquivo.head()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
0,152101,13.64,4.49,1.10,71.78,0.06,8.75,0.0,0.0,janela de edifício processado flutuante
1,151761,13.89,3.60,1.36,72.73,0.48,7.83,0.0,0.0,janela de edifício processado flutuante
2,151618,13.53,3.55,1.54,72.99,0.39,7.78,0.0,0.0,janela de edifício processado flutuante
3,151766,13.21,3.69,1.29,72.61,0.57,8.22,0.0,0.0,janela de edifício processado flutuante
4,151742,13.27,3.62,1.24,73.08,0.55,8.07,0.0,0.0,janela de edifício processado flutuante

In [20]:
arquivo['Type'] = arquivo['Type'].replace('janela de edifício processado flutuante',1)

In [21]:
arquivo['Type'] = arquivo['Type'].replace('janelas de edifício não flutuante processado',2)

In [22]:
arquivo['Type'] = arquivo['Type'].replace('janelas de veículo flutuante processado',3)

In [23]:
arquivo['Type'] = arquivo['Type'].replace('contêineres',4)

In [24]:
arquivo['Type'] = arquivo['Type'].replace('talheres',5)

In [25]:
arquivo['Type'] = arquivo['Type'].replace('faróis',6)

In [26]:
arquivo.head(150)

         RI     Na    Mg    Al     Si     K    Ca   Ba    Fe  Type
0    152101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.00     1
1    151761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.00     1
2    151618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.00     1
3    151766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.00     1
4    151742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.00     1
..      ...    ...   ...   ...    ...   ...   ...  ...   ...   ...
145  151839  12.85  3.67  1.24  72.57  0.62  8.68  0.0  0.35     2
146  151769  13.65  3.66  1.11  72.77  0.11  8.60  0.0  0.00     3
147   15161  13.33  3.53  1.34  72.67  0.56  8.33  0.0  0.00     3
148   15167  13.24  3.57  1.38  72.70  0.56  8.44  0.0  0.10     3
149  151643  12.16  3.52  1.35  72.89  0.57  8.53  0.0  0.00     3

[150 rows x 10 columns]

In [27]:
#Separando as variáreis preditoras e variável alvo
y = arquivo['Type']
x = arquivo.drop('Type', axis = 1)

In [28]:
from sklearn.model_selection import train_test_split

#criando os conjuntos de dados de treino e teste:
x_treino, x_teste, y_treino, y_teste =  train_test_split(x, y, test_size = 0.2)

In [29]:
from sklearn.ensemble import ExtraTreesClassifier
#Criação do modelo:
modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

#Imprimindo resultados:
resultado = modelo.score(x_teste, y_teste)
print('Acurácia:', resultado)

Acurácia: 0.813953488372093

In [30]:
y_teste[40:204]

26     1
206    6
65     1
Name: Type, dtype: int64

In [31]:
x_teste[40:204]

         RI     Na    Mg    Al     Si     K    Ca    Ba   Fe
26   151793  13.21  3.48  1.41  72.64  0.59  8.43  0.00  0.0
206  151645  14.94  0.00  1.87  73.11  0.00  8.67  1.38  0.0
65   152099  13.69  3.59  1.12  71.96  0.09  9.40  0.00  0.0

In [32]:
previsoes = modelo.predict(x_teste[40:204])
previsoes

array([1, 6, 1], dtype=int64)

## Fim da Parte 3. Machine Learning Exemplo_1

Para efetuar um comparativo, o próximo notebook será a **Parte 4. Machine Learning Exemplo_2**.